<ul class="list-unstyled">
    <li class="active">
        <a href="/"><i class="fas fa-tachometer-alt pr-1"></i> Dashboard</a>
    </li>
    <li>
        <a href="#Merchant" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-file-alt  pr-1"></i> Merchant
        </a>
        <ul class="collapse list-unstyled" id="Merchant">
            <li>
                <a href="#">New Merchant</a>
            </li>
            <li>
                <a href="#">Manage Merchant</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fas fa-server pr-1"></i> Services</a>
    </li>
    <li>
        <a href="#Reports" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-cog pr-1"></i> Reports
        </a>
        <ul class="collapse list-unstyled" id="Reports">
            <li>
                <a href="#">Merchant Summary</a>
            </li>
            <li>
                <a href="#">Request Summary</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fas fa-exclamation-circle pr-1"></i> Notices</a>
    </li>
    <li>
        <a href="#Users" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-users-cog pr-1"></i> Users
        </a>
        <ul class="collapse list-unstyled" id="Users">
            <li>
                <a href="#">Add User</a>
            </li>
            <li>
                <a href="#">Manage User</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fas fa-university pr-1"></i> Branch</a>
    </li>
    <li>
        <a href="#Configuraiton" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-cog pr-1"></i> Configuraiton
        </a>
        <ul class="collapse list-unstyled" id="Configuraiton">
            <li>
                <a href="#">Manage Model</a>
            </li>
            <li>
                <a href="#">Manage Status</a>
            </li>
        </ul>
    </li>
</ul>