@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h6>@ViewData["Title"]</h6>
<hr />
<p class="alert alert-success">
    Please check your email to reset your password.
</p>
<a href="/">Back to Login</a>

