html {
  min-height: 100%;
}
body {
    font-size: 12px;
    background: #efefef;
}
* {
    font-size: 12px !important;
}
.head-nav {
    background: #FFF;
    padding: 15px 20px 0 20px;
}
li{
    list-style: none;
}
.validation-summary-errors ul{
    padding-left: 0;
}